In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('Crop_recommendation.csv')

In [20]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [22]:
df.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [23]:
y = df['label']
X = df.drop('label', axis = 1)
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [120]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 20)

In [121]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [122]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
score = accuracy_score(y_test, y_pred)
print('score: ' + str(score))
print(classification_report(y_test,y_pred))

score: 0.990909090909091
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        17
      banana       1.00      1.00      1.00        14
   blackgram       1.00      1.00      1.00        22
    chickpea       1.00      1.00      1.00        21
     coconut       1.00      1.00      1.00        23
      coffee       1.00      1.00      1.00        26
      cotton       1.00      1.00      1.00        22
      grapes       1.00      1.00      1.00        15
        jute       0.80      1.00      0.89        16
 kidneybeans       1.00      1.00      1.00        22
      lentil       1.00      1.00      1.00        20
       maize       1.00      1.00      1.00        16
       mango       1.00      1.00      1.00        15
   mothbeans       1.00      1.00      1.00        26
    mungbean       1.00      1.00      1.00        22
   muskmelon       1.00      1.00      1.00        14
      orange       1.00      1.00      1.00        28
      papaya       1.00      1.00      1.00        17
  pigeonpeas       1.00      1.00      1.00        25
 pomegranate       1.00      1.00      1.00        16
        rice       1.00      0.80      0.89        20
  watermelon       1.00      1.00      1.00        23

    accuracy                           0.99       440
   macro avg       0.99      0.99      0.99       440
weighted avg       0.99      0.99      0.99       440

In [129]:
papaya_data = df[df['label'] == 'papaya']
model.predict([papaya_data.describe().mean()])

y_prob = model.predict_proba([papaya_data.describe().mean()])
confidence_percentages = y_prob.max(axis=1) * 100
print(confidence_percentages)

[100.]

In [114]:
papaya_data.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,49.880000,59.050000,50.040000,33.723859,92.403388,6.741442,142.627839
std,12.219607,7.057305,3.097474,6.263022,1.420446,0.147351,64.396577
min,31.000000,46.000000,45.000000,23.012402,90.038631,6.501521,40.351531
25%,39.000000,54.000000,47.000000,28.554724,91.169476,6.615907,81.940962
50%,49.000000,60.000000,50.000000,33.262870,92.681086,6.740830,139.000698
75%,59.250000,65.000000,52.000000,39.071806,93.511805,6.839783,202.394057
max,70.000000,70.000000,55.000000,43.675493,94.944821,6.993473,248.859299

In [115]:
papaya_data

       N   P   K  temperature   humidity        ph    rainfall   label
1700  61  68  50    35.214628  91.497251  6.793245  243.074507  papaya
1701  58  46  45    42.394134  90.790281  6.576261   88.466075  papaya
1702  45  47  55    38.419163  91.142204  6.751453  119.265388  papaya
1703  39  65  53    35.332949  92.115086  6.560743  235.613359  papaya
1704  31  68  45    42.923253  90.076005  6.938313  196.240824  papaya
...   ..  ..  ..          ...        ...       ...         ...     ...
1795  42  59  55    40.102077  94.351102  6.979102  149.119999  papaya
1796  43  64  47    38.589545  91.580765  6.825665  102.270823  papaya
1797  35  67  49    41.313301  91.150880  6.617067  239.742755  papaya
1798  56  59  55    37.035519  91.794302  6.551893  188.518142  papaya
1799  39  64  53    23.012402  91.073555  6.598860  208.335798  papaya

[100 rows x 8 columns]

In [137]:
print(df.label.unique)

<bound method Series.unique of 0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object>

In [161]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical

# Load the dataset
data = df

# Split features and target variable
X = data[['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']].values
y = data['label'].values

# Encode target variable (if necessary)
# You can use LabelEncoder or OneHotEncoder based on your target variable
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)
y_categorical = to_categorical(y_encoded)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y_categorical, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Create the neural network model
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(32, activation='relu'))
model.add(Dense(y_categorical.shape[1], activation='softmax'))

# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=5, batch_size=32, validation_split=0.2)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Loss: {loss:.4f}, Test Accuracy: {accuracy:.4f}')

# Save the model (optional)
model.save('crop_recommendation_model.h5')

Epoch 1/5
44/44 [==============================] - 0s 2ms/step - loss: 2.8338 - accuracy: 0.2074 - val_loss: 2.6120 - val_accuracy: 0.3381
Epoch 2/5
44/44 [==============================] - 0s 963us/step - loss: 2.2986 - accuracy: 0.4148 - val_loss: 2.0545 - val_accuracy: 0.5142
Epoch 3/5
44/44 [==============================] - 0s 845us/step - loss: 1.7127 - accuracy: 0.6442 - val_loss: 1.4598 - val_accuracy: 0.7188
Epoch 4/5
44/44 [==============================] - 0s 749us/step - loss: 1.1753 - accuracy: 0.7571 - val_loss: 1.0001 - val_accuracy: 0.7869
Epoch 5/5
44/44 [==============================] - 0s 788us/step - loss: 0.8065 - accuracy: 0.8473 - val_loss: 0.7249 - val_accuracy: 0.8409
14/14 [==============================] - 0s 496us/step - loss: 0.7315 - accuracy: 0.8409
Test Loss: 0.7315, Test Accuracy: 0.8409

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [163]:
from tensorflow.keras.saving import load_model
model = load_model('crop_recommendation_model.h5')
# Make predictions on the test set
predictions = model.predict(X_test)

# Get the real class labels from the one-hot encoded y_test
real_classes = np.argmax(y_test, axis=1)
real_labels = label_encoder.inverse_transform(real_classes)

# Print the predicted probabilities and the actual class labels
print("\nPredicted probabilities and actual classes:")
for i, probs in enumerate(predictions):
    predicted_class = np.argmax(probs)
    predicted_label = label_encoder.inverse_transform([predicted_class])[0]
    print(f"Sample {i + 1}:")
    print(f"  Predicted Probabilities: {probs}")
    print(f"  Predicted Class: {predicted_label}")
    print(f"  Actual Class: {real_labels[i]}")

SyntaxError: invalid syntax (2033131297.py, line 18)

In [156]:
test = X_train[20].reshape(1,-1)
true = y_train[20]

print(true)
predictions = model.predict(test)

print(predictions)
# Print the probabilities of each class for each sample
for i, probs in enumerate(predictions):
    print(f'Sample {i + 1} class probabilities:')
    for class_index, prob in enumerate(probs):
        class_label = label_encoder.inverse_transform([class_index])[0]
        print(f'  {class_label}: {prob:.4f}')

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
1/1 [==============================] - 0s 14ms/step
[[5.61819717e-15 8.34589610e-16 2.51934962e-05 3.26046889e-15
  1.67967121e-30 2.78765201e-26 9.27822351e-23 1.79124479e-10
  5.77010596e-16 1.75676954e-14 9.99974847e-01 2.55542402e-16
  1.10644463e-23 2.70754794e-12 2.49633620e-13 2.27926972e-28
  1.84485661e-15 1.05274606e-20 1.68959952e-12 1.03496184e-22
  5.67890489e-27 5.62824069e-21]]
Sample 1 class probabilities:
  apple: 0.0000
  banana: 0.0000
  blackgram: 0.0000
  chickpea: 0.0000
  coconut: 0.0000
  coffee: 0.0000
  cotton: 0.0000
  grapes: 0.0000
  jute: 0.0000
  kidneybeans: 0.0000
  lentil: 1.0000
  maize: 0.0000
  mango: 0.0000
  mothbeans: 0.0000
  mungbean: 0.0000
  muskmelon: 0.0000
  orange: 0.0000
  papaya: 0.0000
  pigeonpeas: 0.0000
  pomegranate: 0.0000
  rice: 0.0000
  watermelon: 0.0000

In [146]:
y_train[20

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0.], dtype=float32)